In [1]:
# Import packages needed to gather, clean, 
import pandas as pd
import numpy as np
import requests
import tweepy
import json
import glob
import re
from config import *

## Gathering Data
* Import the weratedogs csv file into a dataframe

* Download udacity image predictor file from the the following URL: https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv

* Create a json file containing each tweet's retweet count and favorite ("like") count at minimum, and any additional data you find interesting. Using the tweet IDs in the WeRateDogs Twitter archive, query the Twitter API for each tweet's JSON data using Python's Tweepy library and store each tweet's entire set of JSON data in a file called tweet_json.txt file. Each tweet's JSON data should be written to its own line. Then read this .txt file line by line into a pandas DataFrame with (at minimum) tweet ID, retweet count, and favorite count.

In [2]:
# Pull in the twitter-archive-enhanced csv file downloaded from the udacity site.
df_ta = pd.read_csv('twitter-archive-enhanced.csv')
df_ta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [3]:
# Create a request to pull the image predictions tsv file from the udacity site. Take the image predictions file thats stored in
# check response status to ensure we don't have an error.
# the response output and open a tsv file to hold the data so it can be called later.
r = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')
r.raise_for_status()

with open('image_predictions.tsv', 'wb') as handle:
    for block in r.iter_content(1024):
        handle.write(block)

In [4]:
# Create dataframe for the image predictions file just downloaded
df_pred = pd.read_csv('image_predictions.tsv', sep='\t')

In [9]:
# Pull information on tweets using twitter api
# Pause loop to allow refresh of data pulling
# print twitter json data to file (tweet_json.txt)

auth = tweepy.OAuthHandler(consumer_token, consumer_token_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)
df_error = []
with open('tweet_json.txt', 'w') as append:
    for index, row in df_ta.iterrows():
            try:
                tweet = api.get_status(row['tweet_id'], )
                json.dump(tweet._json, append)
                append.write('\n')
            except tweepy.TweepError as e:
                df_error.append({'tweet_id': row['tweet_id'], 'Error': (e.args[0][0]['code'], e.args[0][0]['message'])})
                pass
            
df_error = pd.DataFrame(df_error, columns = ['tweet_id', 'Error'])
df_error.to_csv('df_error.csv')

Rate limit reached. Sleeping for: 670
Rate limit reached. Sleeping for: 732

In [5]:
# Loop through tweet_json file and extract the tweeet_id, retweet_count, favorite_count from the tweet_json.txt file created
# in the previous step.
df_tweet_likes = []
tweet_file = open('tweet_json.txt')
for line in tweet_file:
    data = json.loads(line)
    tweet_id = data['id']
    retweet_count = data['retweet_count']
    favorite_count = data['favorite_count']
    df_tweet_likes.append({'tweet_id' : tweet_id
                          ,'favorite_count' : favorite_count
                          ,'retweet_count' : retweet_count})

df_tweet_likes = pd.DataFrame(df_tweet_likes, columns = ['tweet_id', 'favorite_count', 'retweet_count'])

In [6]:
# See how many likes you pulled. Compare to df_ta file.
print('There are {} records in the df_tweet_likes, compared to {} records in the df_ta.'.format(len(df_tweet_likes), len(df_ta)))

There are 2340 records in the df_tweet_likes, compared to 2356 records in the df_ta.

So we are missing 14 records between the two dataframes. I am sure this will change during the clean up step when I remove some of the retweets.

## Assess Data

In this section we will assess the data for quality and tidiness issues as outlined below.

#### Quality
Review each table and find the quality issues
i.e. Data formats, typos, data inconsistencies (abbr vs. full length), missing information, missing records

#### Tidiness
Breaking apart data in columns (email/phone), dog classification(pupper, doggo, ect), table structure

In [7]:
# Pull the info on the df_ta file and determine what kind of data types we are dealing with.
df_ta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

From this we can tell that we have a few data types that need to be cleaned up. Such as the timestamp fields

In [8]:
# Pull the info on the df_pred dataframe and determine what kind of data types we are dealing with
df_pred.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [9]:
df_tweet_likes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 3 columns):
tweet_id          2340 non-null int64
favorite_count    2340 non-null int64
retweet_count     2340 non-null int64
dtypes: int64(3)
memory usage: 54.9 KB

In [12]:
# Run the df_error = pd.read_csv('df_error.csv') file to bring in the errors from the twitter api pull. If not running
# the twitter api pull yourself.
df_error = pd.read_csv('df_error.csv')

df_error.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
Unnamed: 0    16 non-null int64
tweet_id      16 non-null int64
Error         16 non-null object
dtypes: int64(2), object(1)
memory usage: 464.0+ bytes

In [13]:
# Review the table and see what needs to be cleaned up
df_ta.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [14]:
# Review and locate the number of incorrect names
sorted(df_ta.name.unique())

['Abby',
 'Ace',
 'Acro',
 'Adele',
 'Aiden',
 'Aja',
 'Akumi',
 'Al',
 'Albert',
 'Albus',
 'Aldrick',
 'Alejandro',
 'Alexander',
 'Alexanderson',
 'Alf',
 'Alfie',
 'Alfy',
 'Alice',
 'Amber',
 'Ambrose',
 'Amy',
 'Amélie',
 'Anakin',
 'Andru',
 'Andy',
 'Angel',
 'Anna',
 'Anthony',
 'Antony',
 'Apollo',
 'Aqua',
 'Archie',
 'Arlen',
 'Arlo',
 'Arnie',
 'Arnold',
 'Arya',
 'Ash',
 'Asher',
 'Ashleigh',
 'Aspen',
 'Astrid',
 'Atlas',
 'Atticus',
 'Aubie',
 'Augie',
 'Autumn',
 'Ava',
 'Axel',
 'Bailey',
 'Baloo',
 'Balto',
 'Banditt',
 'Banjo',
 'Barclay',
 'Barney',
 'Baron',
 'Barry',
 'Batdog',
 'Bauer',
 'Baxter',
 'Bayley',
 'BeBe',
 'Bear',
 'Beau',
 'Beckham',
 'Beebop',
 'Beemo',
 'Bell',
 'Bella',
 'Belle',
 'Ben',
 'Benedict',
 'Benji',
 'Benny',
 'Bentley',
 'Berb',
 'Berkeley',
 'Bernie',
 'Bert',
 'Bertson',
 'Betty',
 'Beya',
 'Biden',
 'Bilbo',
 'Billl',
 'Billy',
 'Binky',
 'Birf',
 'Bisquick',
 'Blakely',
 'Blanket',
 'Blipson',
 'Blitz',
 'Bloo',
 'Bloop',
 'Blu',
 'Blue',
 'Bluebert',
 'Bo',
 'Bob',
 'Bobb',
 'Bobbay',
 'Bobble',
 'Bobby',
 'Bode',
 'Bodie',
 'Bonaparte',
 'Bones',
 'Bookstore',
 'Boomer',
 'Boots',
 'Boston',
 'Bowie',
 'Brad',
 'Bradlay',
 'Bradley',
 'Brady',
 'Brandi',
 'Brandonald',
 'Brandy',
 'Brat',
 'Brian',
 'Brockly',
 'Brody',
 'Bronte',
 'Brooks',
 'Brownie',
 'Bruce',
 'Brudge',
 'Bruiser',
 'Bruno',
 'Brutus',
 'Bubba',
 'Bubbles',
 'Buckley',
 'Buddah',
 'Buddy',
 'Bungalo',
 'Burt',
 'Butter',
 'Butters',
 'Cal',
 'Calbert',
 'Cali',
 'Callie',
 'Calvin',
 'Canela',
 'Cannon',
 'Carbon',
 'Carl',
 'Carll',
 'Carly',
 'Carper',
 'Carter',
 'Caryl',
 'Cash',
 'Cassie',
 'CeCe',
 'Cecil',
 'Cedrick',
 'Cermet',
 'Chadrick',
 'Champ',
 'Charl',
 'Charles',
 'Charleson',
 'Charlie',
 'Chase',
 'Chaz',
 'Cheesy',
 'Chef',
 'Chelsea',
 'Cheryl',
 'Chesney',
 'Chester',
 'Chesterson',
 'Chet',
 'Chevy',
 'Chip',
 'Chipson',
 'Chloe',
 'Chompsky',
 'Christoper',
 'Chubbs',
 'Chuck',
 'Chuckles',
 'Chuq',
 'Churlie',
 'Cilantro',
 'Clarence',
 'Clark',
 'Clarkus',
 'Clarq',
 'Claude',
 'Cleopatricia',
 'Clifford',
 'Clybe',
 'Clyde',
 'Coco',
 'Cody',
 'Colby',
 'Coleman',
 'Colin',
 'Combo',
 'Comet',
 'Cooper',
 'Coops',
 'Coopson',
 'Cora',
 'Corey',
 'Covach',
 'Craig',
 'Crawford',
 'Creg',
 'Crimson',
 'Crouton',
 'Crumpet',
 'Crystal',
 'Cuddles',
 'Cupcake',
 'Cupid',
 'Curtis',
 'Daisy',
 'Dakota',
 'Dale',
 'Dallas',
 'Damon',
 'Daniel',
 'Danny',
 'Dante',
 'Darby',
 'Darla',
 'Darrel',
 'Dash',
 'Dave',
 'Davey',
 'Dawn',
 'DayZ',
 'Deacon',
 'Derby',
 'Derek',
 'Devón',
 'Dewey',
 'Dex',
 'Dexter',
 'Dido',
 'Dietrich',
 'Diogi',
 'Divine',
 'Dixie',
 'Django',
 'Dobby',
 'Doc',
 'DonDon',
 'Donny',
 'Doobert',
 'Dook',
 'Dot',
 'Dotsy',
 'Doug',
 'Duchess',
 'Duddles',
 'Dudley',
 'Dug',
 'Duke',
 'Dunkin',
 'Durg',
 'Dutch',
 'Dwight',
 'Dylan',
 'Earl',
 'Eazy',
 'Ebby',
 'Ed',
 'Edd',
 'Edgar',
 'Edmund',
 'Eevee',
 'Einstein',
 'Eleanor',
 'Eli',
 'Ellie',
 'Elliot',
 'Emanuel',
 'Ember',
 'Emma',
 'Emmie',
 'Emmy',
 'Enchilada',
 'Erik',
 'Eriq',
 'Ester',
 'Eugene',
 'Eve',
 'Evy',
 'Fabio',
 'Farfle',
 'Ferg',
 'Fido',
 'Fiji',
 'Fillup',
 'Filup',
 'Finley',
 'Finn',
 'Finnegus',
 'Fiona',
 'Fizz',
 'Flash',
 'Fletcher',
 'Florence',
 'Flurpson',
 'Flávio',
 'Frank',
 'Frankie',
 'Franklin',
 'Franq',
 'Fred',
 'Freddery',
 'Frönq',
 'Furzey',
 'Fwed',
 'Fynn',
 'Gabby',
 'Gabe',
 'Gary',
 'General',
 'Genevieve',
 'Geno',
 'Geoff',
 'George',
 'Georgie',
 'Gerald',
 'Gerbald',
 'Gert',
 'Gidget',
 'Gilbert',
 'Gin',
 'Ginger',
 'Gizmo',
 'Glacier',
 'Glenn',
 'Godi',
 'Godzilla',
 'Goliath',
 'Goose',
 'Gordon',
 'Grady',
 'Grey',
 'Griffin',
 'Griswold',
 'Grizz',
 'Grizzie',
 'Grizzwald',
 'Gromit',
 'Gunner',
 'Gus',
 'Gustaf',
 'Gustav',
 'Gòrdón',
 'Hall',
 'Halo',
 'Hammond',
 'Hamrick',
 'Hank',
 'Hanz',
 'Happy',
 'Harlso',
 'Harnold',
 'Harold',
 'Harper',
 'Harrison',
 'Harry',
 'Harvey',
 'Hazel',
 'Hector',
 'Heinrich',
 'Henry',
 'Herald',
 'Herb',
 'Hercules',
 'Herm',
 'Hermione',
 'Hero',
 'Herschel',
 'Hobbes',
 'Holly',
 'Horace',
 'Howie',
 'Hubertson',
 'Huck',
 'Humphrey',
 'Hunter',
 'Hurley',
 'Huxley',
 'Iggy',
 'Ike',
 'Indie',
 'Iroh',
 'Ito',
 'Ivar',
 'Izzy',
 'JD',
 'Jack',
 'Jackie',
 'Jackson',
 'Jameson',
 'Jamesy',
 'Jangle',
 'Jareld',
 'Jarod',
 'Jarvis',
 'Jaspers',
 'Jax',
 'Jay',
 'Jaycob',
 'Jazz',
 'Jazzy',
 'Jeb',
 'Jebberson',
 'Jed',
 'Jeffrey',
 'Jeffri',
 'Jeffrie',
 'Jennifur',
 'Jeph',
 'Jeremy',
 'Jerome',
 'Jerry',
 'Jersey',
 'Jesse',
 'Jessifer',
 'Jessiga',
 'Jett',
 'Jim',
 'Jimbo',
 'Jiminus',
 'Jiminy',
 'Jimison',
 'Jimothy',
 'Jo',
 'Jockson',
 'Joey',
 'Jomathan',
 'Jonah',
 'Jordy',
 'Josep',
 'Joshwa',
 'Juckson',
 'Julio',
 'Julius',
 'Juno',
 'Kaia',
 'Kaiya',
 'Kallie',
 'Kane',
 'Kanu',
 'Kara',
 'Karl',
 'Karll',
 'Karma',
 'Kathmandu',
 'Katie',
 'Kawhi',
 'Kayla',
 'Keet',
 'Keith',
 'Kellogg',
 'Ken',
 'Kendall',
 'Kenneth',
 'Kenny',
 'Kenzie',
 'Keurig',
 'Kevin',
 'Kevon',
 'Kial',
 'Kilo',
 'Kingsley',
 'Kirby',
 'Kirk',
 'Klein',
 'Klevin',
 'Kloey',
 'Kobe',
 'Koda',
 'Kody',
 'Koko',
 'Kollin',
 'Kona',
 'Kota',
 'Kramer',
 'Kreg',
 'Kreggory',
 'Kulet',
 'Kuyu',
 'Kyle',
 'Kyro',
 'Lacy',
 'Laela',
 'Laika',
 'Lambeau',
 'Lance',
 'Larry',
 'Lassie',
 'Layla',
 'Leela',
 'Lennon',
 'Lenny',
 'Lenox',
 'Leo',
 'Leonard',
 'Leonidas',
 'Levi',
 'Liam',
 'Lilah',
 'Lili',
 'Lilli',
 'Lillie',
 'Lilly',
 'Lily',
 'Lincoln',
 'Linda',
 'Link',
 'Linus',
 'Lipton',
 'Livvie',
 'Lizzie',
 'Logan',
 'Loki',
 'Lola',
 'Lolo',
 'Longfellow',
 'Loomis',
 'Lorelei',
 'Lorenzo',
 'Lou',
 'Louie',
 'Louis',
 'Luca',
 'Lucia',
 'Lucky',
 'Lucy',
 'Lugan',
 'Lulu',
 'Luna',
 'Lupe',
 'Luther',
 'Mabel',
 'Mac',
 'Mack',
 'Maddie',
 'Maggie',
 'Mairi',
 'Maisey',
 'Major',
 'Maks',
 'Malcolm',
 'Malikai',
 'Margo',
 'Mark',
 'Marlee',
 'Marley',
 'Marq',
 'Marty',
 'Marvin',
 'Mary',
 'Mason',
 'Mattie',
 'Maude',
 'Mauve',
 'Max',
 'Maxaroni',
 'Maximus',
 'Maxwell',
 'Maya',
 'Meatball',
 'Meera',
 'Meyer',
 'Mia',
 'Michelangelope',
 'Miguel',
 'Mike',
 'Miley',
 'Milky',
 'Millie',
 'Milo',
 'Mimosa',
 'Mingus',
 'Mister',
 'Misty',
 'Mitch',
 'Mo',
 'Moe',
 'Mojo',
 'Mollie',
 'Molly',
 'Mona',
 'Monkey',
 'Monster',
 'Monty',
 'Moofasa',
 'Mookie',
 'Moose',
 'Moreton',
 'Mosby',
 'Murphy',
 'Mutt',
 'Mya',
 'Nala',
 'Naphaniel',
 'Napolean',
 'Nelly',
 'Neptune',
 'Newt',
 'Nico',
 'Nida',
 'Nigel',
 'Nimbus',
 'Noah',
 'Nollie',
 'None',
 'Noosh',
 'Norman',
 'Nugget',
 'O',
 'Oakley',
 'Obi',
 'Obie',
 'Oddie',
 'Odie',
 'Odin',
 'Olaf',
 'Ole',
 'Olive',
 'Oliver',
 'Olivia',
 'Oliviér',
 'Ollie',
 'Opal',
 'Opie',
 'Oreo',
 'Orion',
 'Oscar',
 'Oshie',
 'Otis',
 'Ozzie',
 'Ozzy',
 'Pablo',
 'Paisley',
 'Pancake',
 'Panda',
 'Patch',
 'Patrick',
 'Paull',
 'Pavlov',
 'Pawnd',
 'Peaches',
 'Peanut',
 'Penelope',
 'Penny',
 'Pepper',
 'Percy',
 'Perry',
 'Pete',
 'Petrick',
 'Pherb',
 'Phil',
 'Philbert',
 'Philippe',
 'Phineas',
 'Phred',
 'Pickles',
 'Pilot',
 'Pinot',
 'Pip',
 'Piper',
 'Pippa',
 'Pippin',
 'Pipsy',
 'Pluto',
 'Poppy',
 'Pubert',
 'Puff',
 'Pumpkin',
 'Pupcasso',
 'Quinn',
 'Ralf',
 'Ralph',
 'Ralpher',
 'Ralphie',
 'Ralphson',
 'Ralphus',
 'Ralphy',
 'Ralphé',
 'Rambo',
 'Randall',
 'Raphael',
 'Rascal',
 'Raymond',
 'Reagan',
 'Reese',
 'Reggie',
 'Reginald',
 'Remington',
 'Remus',
 'Remy',
 'Reptar',
 'Rey',
 'Rhino',
 'Richie',
 'Ricky',
 'Ridley',
 'Riley',
 'Rilo',
 'Rinna',
 'River',
 'Rizzo',
 'Rizzy',
 'Robin',
 'Rocco',
 'Rocky',
 'Rodman',
 'Rodney',
 'Rolf',
 'Romeo',
 'Ron',
 'Ronduh',
 'Ronnie',
 'Rontu',
 'Rooney',
 'Roosevelt',
 'Rorie',
 'Rory',
 'Roscoe',
 'Rose',
 'Rosie',
 'Rover',
 'Rubio',
 'Ruby',
 'Rudy',
 'Rueben',
 'Ruffles',
 'Rufio',
 'Rufus',
 'Rumble',
 'Rumpole',
 'Rupert',
 'Rusty',
 'Sadie',
 'Sage',
 'Sailer',
 'Sailor',
 'Sam',
 'Sammy',
 'Sampson',
 'Samsom',
 'Samson',
 'Sandra',
 'Sandy',
 'Sansa',
 'Sarge',
 'Saydee',
 'Schnitzel',
 'Schnozz',
 'Scooter',
 'Scott',
 'Scout',
 'Scruffers',
 'Seamus',
 'Sebastian',
 'Sephie',
 'Severus',
 'Shadoe',
 'Shadow',
 'Shaggy',
 'Shakespeare',
 'Shawwn',
 'Shelby',
 'Shikha',
 'Shiloh',
 'Shnuggles',
 'Shooter',
 'Siba',
 'Sid',
 'Sierra',
 'Simba',
 'Skittle',
 'Skittles',
 'Sky',
 'Skye',
 'Smiley',
 'Smokey',
 'Snickers',
 'Snicku',
 'Snoop',
 'Snoopy',
 'Sobe',
 'Socks',
 'Sojourner',
 'Solomon',
 'Sonny',
 'Sophie',
 'Sora',
 'Spanky',
 'Spark',
 'Sparky',
 'Spencer',
 'Sprinkles',
 'Sprout',
 'Staniel',
 'Stanley',
 'Stark',
 'Stefan',
 'Stella',
 'Stephan',
 'Stephanus',
 'Steve',
 'Steven',
 'Stewie',
 'Storkson',
 'Stormy',
 'Strider',
 'Striker',
 'Strudel',
 'Stu',
 'Stuart',
 'Stubert',
 'Sugar',
 'Suki',
 'Sully',
 'Sundance',
 'Sunny',
 'Sunshine',
 'Superpup',
 'Swagger',
 'Sweet',
 'Sweets',
 'Taco',
 'Tango',
 'Tanner',
 'Tassy',
 'Tater',
 'Tayzie',
 'Taz',
 'Tebow',
 'Ted',
 'Tedders',
 'Teddy',
 'Tedrick',
 'Terrance',
 'Terrenth',
 'Terry',
 'Tess',
 'Tessa',
 'Theo',
 'Theodore',
 'Thor',
 'Thumas',
 'Tiger',
 'Tilly',
 'Timber',
 'Timison',
 'Timmy',
 'Timofy',
 'Tino',
 'Titan',
 'Tito',
 'Tobi',
 'Toby',
 'Todo',
 'Toffee',
 'Tom',
 'Tommy',
 'Tonks',
 'Torque',
 'Tove',
 'Travis',
 'Traviss',
 'Trevith',
 'Trigger',
 'Trip',
 'Tripp',
 'Trooper',
 'Tuck',
 'Tucker',
 'Tuco',
 'Tug',
 'Tupawc',
 'Tycho',
 'Tyr',
 'Tyrone',
 'Tyrus',
 'Ulysses',
 'Venti',
 'Vince',
 'Vincent',
 'Vinnie',
 'Vinscent',
 'Vixen',
 'Wafer',
 'Waffles',
 'Walker',
 'Wallace',
 'Wally',
 'Walter',
 'Watson',
 'Wesley',
 'Wiggles',
 'Willem',
 'William',
 'Willie',
 'Willow',
 'Willy',
 'Wilson',
 'Winifred',
 'Winnie',
 'Winston',
 'Wishes',
 'Wyatt',
 'Yoda',
 'Yogi',
 'Yukon',
 'Zara',
 'Zeek',
 'Zeke',
 'Zeus',
 'Ziva',
 'Zoe',
 'Zoey',
 'Zooey',
 'Zuzu',
 'a',
 'actually',
 'all',
 'an',
 'by',
 'getting',
 'his',
 'incredibly',
 'infuriating',
 'just',
 'life',
 'light',
 'mad',
 'my',
 'not',
 'officially',
 'old',
 'one',
 'quite',
 'space',
 'such',
 'the',
 'this',
 'unacceptable',
 'very']

In [15]:
# Count the number of retweets
len(df_ta.retweeted_status_id.unique())

182

In [16]:
df_ta.rating_numerator.unique()

array([  13,   12,   14,    5,   17,   11,   10,  420,  666,    6,   15,
        182,  960,    0,   75,    7,   84,    9,   24,    8,    1,   27,
          3,    4,  165, 1776,  204,   50,   99,   80,   45,   60,   44,
        143,  121,   20,   26,    2,  144,   88], dtype=int64)

In [17]:
df_ta.rating_denominator.unique()

array([ 10,   0,  15,  70,   7,  11, 150, 170,  20,  50,  90,  80,  40,
       130, 110,  16, 120,   2], dtype=int64)

In [18]:
len(df_ta.in_reply_to_status_id.unique())

78

In [19]:
len(df_ta.in_reply_to_user_id.unique())

32

In [20]:
df_tweet_likes.query('favorite_count == 0')

                tweet_id  favorite_count  retweet_count
31    886054160059072513               0            105
35    885311592912609280               0          18216
67    879130579576475649               0           6715
72    878404777348136964               0           1268
73    878316110768087041               0           6546
77    877611172832227328               0             80
90    874434818259525634               0          14553
95    873337748698140672               0           1570
106   871166179821445120               0           5674
120   868639477480148993               0           2100
126   867072653475098625               0            121
132   866094527597207552               0           8436
141   863471782782697472               0           2484
153   860981674716409858               0           2194
154   860924035999428608               0            836
159   860177593139703809               0          31478
165   858860390427611136               0           8336
174   857062103051644929               0            177
176   856602993587888130               0          11002
179   856330835276025856               0            701
188   855245323840757760               0           6194
189   855138241867124737               0             47
198   852936405516943360               0           2100
205   851953902622658560               0          10102
206   851861385021730816               0             23
216   849668094696017920               0           5224
224   847978865427394560               0           3446
225   847971574464610304               0            451
243   845098359547420673               0           8144
258   841833993020538882               0          16376
...                  ...             ...            ...
761   776249906839351296               0           9992
766   775898661951791106               0          17923
781   773336787167145985               0           5548
787   772615324260794368               0           3676
798   771171053431250945               0           8228
802   771004394259247104               0            240
808   770093767776997377               0           3302
812   769335591808995329               0           8364
815   768909767477751808               0           2934
819   768554158521745409               0           6329
827   766864461642756096               0           6143
833   766078092750233600               0           2824
846   763167063695355904               0           3271
854   761750502866649088               0           4269
858   761371037149827077               0          19465
871   760153949710192640               0             34
876   759566828574212096               0          22871
881   759159934323924993               0           1261
894   757729163776290825               0           8770
897   757597904299253760               0            315
912   754874841593970688               0           8660
922   753298634498793472               0           6230
928   752701944171524096               0           3119
934   752309394570878976               0          18025
997   747242308580548608               0           3090
1008  746521445350707200               0           1055
1028  743835915802583040               0           2235
1227  711998809858043904               0            134
2243  667550904950915073               0             35
2244  667550882905632768               0             33

[167 rows x 3 columns]

#### Quality Issues
* timestamp not listed as datetime field `df_ta`
* remove retweets (182) `df_ta`
* remove tweets that had errors pulling data from twitter api `df_errors`, most likely due to a tweet or account being removed. (14)
* `df_tweet_likes` (166) without a favorite, yet when you visit the page you see they've been favorited.
* Source contains to much non-sense infomation, should be trimmed down to where the tweet came from. (iPhone, twitter, ect) `df_ta`
* Why so many 0 for favorite_count? Looking at data seems maybe from retweets? `df_tweet_likes`
* Dog name case on the `df_pred` table in columns p1, p2 and p3
* Multiple names not entered correctly (quite, such, a, not, O, just, an, a, all, actually, an, by, getting, his, incredibly, ect) `df_ta`

#### Tidy Issues

* Multiple tables `df_ta`, `df_errors`, `df_tweet_likes` and `df_pred`
* Multiple columns for dog rating (doggo, floofer, pupper, puppo) `df_ta`

## Cleaning

From this point forward we will create a copy of each of our dataframes so we can work on cleaning without overwritting our original files. We'll walk through each of our quality issues followed by our tidiness issues.

In [21]:
df_ta_clean = df_ta.copy()
df_tweet_likes_clean = df_tweet_likes.copy()
df_pred_clean = df_pred.copy()

#### Quality Issues
1. timestamp no listed as a datetime field.

In [22]:
# Change the timestamp fields from object fields to datetime fields, using pandas to_datetime function.
df_ta_clean['timestamp'] = pd.to_datetime(df_ta_clean['timestamp'])
df_ta_clean['retweeted_status_timestamp'] = pd.to_datetime(df_ta_clean['retweeted_status_timestamp'])

In [23]:
# Review info to ensure the conversation was completed.
df_ta_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null datetime64[ns]
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null datetime64[ns]
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: datetime64[ns](2), float64(4), int64(3), object(8)
memory usage: 313.0+ KB

2. Remove Retweets using the Retweet status id looking for NaN

In [24]:
df_ta_clean = df_ta_clean.query('retweeted_status_id == "NaN"')

In [25]:
df_ta_clean = df_ta_clean.reset_index(drop=True)

In [26]:
df_ta_clean.query('in_reply_to_status_id != "NaN"')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
29,886267009285017600,8.862664e+17,2.281182e+09,2017-07-15 16:51:35,"<a href=""http://twitter.com/download/iphone"" r...",@NonWhiteHat @MayhewMayhem omg hello tanner yo...,NaN,NaN,NaT,NaN,12,10,None,None,None,None,None
52,881633300179243008,8.816070e+17,4.738443e+07,2017-07-02 21:58:53,"<a href=""http://twitter.com/download/iphone"" r...",@roushfenway These are good dogs but 17/10 is ...,NaN,NaN,NaT,NaN,17,10,None,None,None,None,None
61,879674319642796034,8.795538e+17,3.105441e+09,2017-06-27 12:14:36,"<a href=""http://twitter.com/download/iphone"" r...",@RealKentMurphy 14/10 confirmed,NaN,NaN,NaT,NaN,14,10,None,None,None,None,None
101,870726314365509632,8.707262e+17,1.648776e+07,2017-06-02 19:38:25,"<a href=""http://twitter.com/download/iphone"" r...",@ComplicitOwl @ShopWeRateDogs &gt;10/10 is res...,NaN,NaN,NaT,NaN,10,10,None,None,None,None,None
130,863427515083354112,8.634256e+17,7.759620e+07,2017-05-13 16:15:35,"<a href=""http://twitter.com/download/iphone"" r...",@Jack_Septic_Eye I'd need a few more pics to p...,NaN,NaN,NaT,NaN,12,10,None,None,None,None,None
131,863079547188785154,6.671522e+17,4.196984e+09,2017-05-12 17:12:53,"<a href=""http://twitter.com/download/iphone"" r...",Ladies and gentlemen... I found Pipsy. He may ...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/863079547...,14,10,None,None,None,None,None
156,857214891891077121,8.571567e+17,1.806710e+08,2017-04-26 12:48:51,"<a href=""http://twitter.com/download/iphone"" r...",@Marc_IRL pixelated af 12/10,NaN,NaN,NaT,NaN,12,10,None,None,None,None,None
159,856526610513747968,8.558181e+17,4.196984e+09,2017-04-24 15:13:52,"<a href=""http://twitter.com/download/iphone"" r...","THIS IS CHARLIE, MARK. HE DID JUST WANT TO SAY...",NaN,NaN,NaT,https://twitter.com/dog_rates/status/856526610...,14,10,None,None,None,None,None
160,856288084350160898,8.562860e+17,2.792810e+08,2017-04-23 23:26:03,"<a href=""http://twitter.com/download/iphone"" r...",@xianmcguire @Jenna_Marbles Kardashians wouldn...,NaN,NaN,NaT,NaN,14,10,None,None,None,None,None
162,855862651834028034,8.558616e+17,1.943518e+08,2017-04-22 19:15:32,"<a href=""http://twitter.com/download/iphone"" r...",@dhmontgomery We also gave snoop dogg a 420/10...,NaN,NaN,NaT,NaN,420,10,None,None,None,None,None
163,855860136149123072,8.558585e+17,1.361572e+07,2017-04-22 19:05:32,"<a href=""http://twitter.com/download/iphone"" r...",@s8n You tried very hard to portray this good ...,NaN,NaN,NaT,NaN,666,10,None,None,None,None,None
187,850333567704068097,8.503288e+17,2.195506e+07,2017-04-07 13:04:55,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus MARK THAT DOG HAS SEEN AND EXPERIE...,NaN,NaN,NaT,NaN,13,10,None,None,None,None,None
196,848213670039564288,8.482121e+17,4.196984e+09,2017-04-01 16:41:12,"<a href=""http://twitter.com/download/iphone"" r...",Jerry just apuppologized to me. He said there ...,NaN,NaN,NaT,NaN,11,10,None,None,None,None,None
200,847617282490613760,8.476062e+17,4.196984e+09,2017-03-31 01:11:22,"<a href=""http://twitter.com/download/iphone"" r...",.@breaannanicolee PUPDATE: Cannon has a heart ...,NaN,NaN,NaT,NaN,13,10,None,None,None,None,None
215,844979544864018432,7.590995e+17,4.196984e+09,2017-03-23 18:29:57,"<a href=""http://twitter.com/download/iphone"" r...",PUPDATE: I'm proud to announce that Toby is 23...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/844979544...,13,10,None,None,None,None,None
234,840698636975636481,8.406983e+17,8.405479e+17,2017-03-11 22:59:09,"<a href=""http://twitter.com/download/iphone"" r...",@0_kelvin_0 &gt;10/10 is reserved for puppos s...,NaN,NaN,NaT,NaN,10,10,None,None,None,None,None
246,838150277551247360,8.381455e+17,2.195506e+07,2017-03-04 22:12:52,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus 182/10,NaN,NaN,NaT,NaN,182,10,None,None,None,None,None
247,838085839343206401,8.380855e+17,2.894131e+09,2017-03-04 17:56:49,"<a href=""http://twitter.com/download/iphone"" r...",@bragg6of8 @Andy_Pace_ we are still looking fo...,NaN,NaN,NaT,NaN,15,10,None,None,None,None,None
263,835246439529840640,8.352460e+17,2.625958e+07,2017-02-24 21:54:03,"<a href=""http://twitter.com/download/iphone"" r...",@jonnysun @Lin_Manuel ok jomny I know you're e...,NaN,NaN,NaT,NaN,960,0,None,None,None,None,None
287,832088576586297345,8.320875e+17,3.058208e+07,2017-02-16 04:45:50,"<a href=""http://twitter.com/download/iphone"" r...",@docmisterio account started on 11/15/15,NaN,NaN,NaT,NaN,11,15,None,None,None,None,None
290,831926988323639298,8.319030e+17,2.068372e+07,2017-02-15 18:03:45,"<a href=""http://twitter.com/download/iphone"" r...",@UNC can confirm 12/10,NaN,NaN,NaT,NaN,12,10,None,None,None,None,None
326,826598799820865537,8.265984e+17,4.196984e+09,2017-02-01 01:11:25,"<a href=""http://twitter.com/download/iphone"" r...","I was going to do 007/10, but the joke wasn't ...",NaN,NaN,NaT,NaN,7,10,None,None,None,None,None
345,823333489516937216,8.233264e+17,1.582854e+09,2017-01-23 00:56:15,"<a href=""http://twitter.com/download/iphone"" r...",@HistoryInPics 13/10,NaN,NaN,NaT,NaN,13,10,None,None,None,None,None
358,821153421864615936,8.211526e+17,1.132119e+08,2017-01-17 00:33:26,"<a href=""http://twitter.com/download/iphone"" r...",@imgur for a polar bear tho I'd say 13/10 is a...,NaN,NaN,NaT,NaN,13,10,None,None,None,None,None
412,813130366689148928,8.131273e+17,4.196984e+09,2016-12-25 21:12:41,"<a href=""http://twitter.com/download/iphone"" r...",I've been informed by multiple sources that th...,NaN,NaN,NaT,NaN,12,10,None,None,None,None,None
426,811647686436880384,8.116272e+17,4.196984e+09,2016-12-21 19:01:02,"<a href=""http://twitter.com/download/iphone"" r...",PUPDATE: I've been informed that Augie was act...,NaN,NaN,NaT,NaN,11,10,None,None,None,None,None
467,802265048156610565,7.331095e+17,4.196984e+09,2016-11-25 21:37:47,"<a href=""http://twitter.com/download/iphone"" r...","Like doggo, like pupper version 2. Both 11/10 ...",NaN,NaN,NaT,https://twitter.com/dog_rates/status/802265048...,11,10,None,doggo,None,pupper,None
470,801854953262350336,8.018543e+17,1.185634e+07,2016-11-24 18:28:13,"<a href=""http://twitter.com/download/iphone"" r...",.@NBCSports OMG THE TINY HAT I'M GOING TO HAVE...,NaN,NaN,NaT,NaN,11,10,None,None,None,None,None
475,800859414831898624,8.008580e+17,2.918590e+08,2016-11-22 00:32:18,"<a href=""http://twitter.com/download/iphone"" r...",@SkyWilliams doggo simply protecting you from ...,NaN,NaN,NaT,NaN,11,10,None,doggo,None,None,None
492,797165961484890113,7.971238e+17,2.916630e+07,2016-11-11 19:55:50,"<a href=""http://twitter.com/download/iphone"" r...",@JODYHiGHROLLER it may be an 11/10 but what do...,NaN,NaN,NaT,NaN,11,10,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1300,693582294167244802,6.935722e+17,1.198989e+09,2016-01-30 23:51:19,"<a href=""http://twitter.com/download/iphone"" r...",Personally I'd give him an 11/10. Not sure why...,NaN,NaN,NaT,NaN,11,10,None,None,None,None,None
1318,692423280028966913,6.924173e+17,4.196984e+09,2016-01-27 19:05:49,"<a href=""http://twitter.com/download/iphone"" r...",PUPDATE: just noticed this dog has some extra ...,NaN,NaN,NaT,NaN,9,10,None,None,None,None,None
1322,692142790915014657,6.920419e+17,4.196984e+09,2016-01-27 00:31:15,"<a href=""http://twitter.com/download/iphone"" r...",These are some pictures of Teddy that further ...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/692142790...,13,10,None,None,None,None,None
1344,690607260360429569,6.903413e+17,4.670367e+08,2016-01-22 18:49:36,"<a href=""http://twitter.com/download/iphone"" r...",12/10 @LightningHoltt,NaN,NaN,NaT,NaN,12,10,None,None,None,None,None
1419,686035780142297088,6.860340e+17,4.196984e+09,2016-01-10 04:04:10,"<a href=""http://twitter.com/download/iphone"" r...",Yes I do realize a rating of 4/20 would've bee...,NaN,NaN,NaT,NaN,4,20,None,None,None,None,None
1426,685681090388975616,6.855479e+17,4.196984e+09,2016-01-09 04:34:45,"<a href=""http://twitter.com/download/iphone"" r...",Jack deserves another round of applause. If yo...,NaN,NaN,NaT,NaN,14,10,None,None,None,None,None
1439,684969860808454144,6.849598e+17,4.196984e+09,2016-01-07 05:28:35,"<a href=""http://twitter.com/download/iphone"" r...","For those who claim this is a goat, u are wron...",NaN,NaN,NaT,NaN,5,10,None,None,None,None,None
1451,684538444857667585,6.844811e+17,4.196984e+09,2016-01-06 00:54:18,"<a href=""http://twitter.com/download/iphone"" r...","After watching this video, we've determined th...",NaN,NaN,NaT,https://twitter.com/dog_rates/status/684538444...,12,10,None,None,None,None,None
1455,684225744407494656,6.842229e+17,4.196984e+09,2016-01-05 04:11:44,"<a href=""http://twitter.com/download/iphone"" r...","Two sneaky puppers were not initially seen, mo...",NaN,NaN,NaT,https://twitter.com/dog_rates/status/684225744...,143,130,None,None,None,None,None
1484,682808988178739200,6.827884e+17,4.196984e+09,2016-01-01 06:22:03,"<a href=""http://twitter.com/download/iphone"" r...","I'm aware that I could've said 20/16, but here...",NaN,NaN,NaT,NaN,20,16,None,None,None,None,None
1510,681340665377193984,6.813394e+17,4.196984e+09,2015-12-28 05:07:27,"<a href=""http://twitter.com/download/iphone"" r...",I've been told there's a slight possibility he...,NaN,NaN,NaT,NaN,5,10,None,None,None,None,None
1595,678023323247357953,6.780211e+17,4.196984e+09,2015-12-19 01:25:31,"<a href=""http://twitter.com/download/iphone"" r...",After getting lost in Reese's eyes for several...,NaN,NaN,NaT,NaN,13,10,None,None,None,None,None
1640,676590572941893632,6.765883e+17,4.196984e+09,2015-12-15 02:32:17,"<a href=""http://twitter.com/download/iphone"" r...",After some outrage from the crowd. Bubbles is ...,NaN,NaN,NaT,NaN,7,10,None,None,None,None,None
1663,675870721063669760,6.757073e+17,4.196984e+09,2015-12-13 02:51:51,"<a href=""http://twitter.com/download/iphone"" r...",&amp; this is Yoshi. Another world record cont...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/675870721...,11,10,None,None,None,None,None
1665,675849018447167488,6.758457e+17,4.196984e+09,2015-12-13 01:25:37,"<a href=""http://twitter.com/download/iphone"" r...",This dog is being demoted to a 9/10 for not we...,NaN,NaN,NaT,NaN,9,10,None,None,None,None,None
1673,675707330206547968,6.754971e+17,4.196984e+09,2015-12-12 16:02:36,"<a href=""http://twitter.com/download/iphone"" r...",We've got ourselves a battle here. Watch out R...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/675707330...,11,10,None,None,None,None,None
1687,675349384339542016,6.749998e+17,4.196984e+09,2015-12-11 16:20:15,"<a href=""http://twitter.com/download/iphone"" r...",Yea I lied. Here's more. All 13/10 https://t.c...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/675349384...,13,10,None,None,None,None,None
1703,674999807681908736,6.747934e+17,4.196984e+09,2015-12-10 17:11:09,"<a href=""http://twitter.com/download/iphone"" r...",Ok last one of these. I may try to make some m...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/674999807...,13,10,None,None,None,None,None
1706,674793399141146624,6.717299e+17,4.196984e+09,2015-12-10 03:30:58,"<a href=""http://twitter.com/download/iphone"" r...",I have found another. 13/10 https://t.co/HwroP...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/674793399...,13,10,None,None,None,None,None
1713,674754018082705410,6.747522e+17,4.196984e+09,2015-12-10 00:54:28,"<a href=""http://twitter.com/download/iphone"" r...",Just received another perfect photo of dogs an...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/674754018...,12,10,None,None,None,None,None
1716,674742531037511680,6.747400e+17,4.196984e+09,2015-12-10 00:08:50,"<a href=""http://twitter.com/download/iphone"" r...",Some clarification is required. The dog is sin...,NaN,NaN,NaT,NaN,11,10,None,None,None,None,None
1726,674606911342424069,6.744689e+17,4.196984e+09,2015-12-09 15:09:55,"<a href=""http://twitter.com/download/iphone"" r...",The 13/10 also takes into account this impecca...,NaN,NaN,NaT,NaN,13,10,None,None,None,None,None
1735,674330906434379776,6.658147e+17,1.637468e+07,2015-12-08 20:53:11,"<a href=""http://twitter.com/download/iphone"" r...",13/10\r\n@ABC7,NaN,NaN,NaT,NaN,13,10,None,None,None,None,None
1761,673716320723169284,6.737159e+17,4.196984e+09,2015-12-07 04:11:02,"<a href=""http://twitter.com/download/iphone"" r...",The millennials have spoken and we've decided ...,NaN,NaN,NaT,NaN,1,10,None,None,None,None,None
1857,671729906628341761,6.715610e+17,4.196984e+09,2015-12-01 16:37:44,"<a href=""http://twitter.com/download/iphone"" r...",I'm just going to leave this one here as well....,NaN,NaN,NaT,https://twitter.com/dog_rates/status/671729906...,13,10,None,None,None,None,None
1859,671550332464455680,6.715449e+17,4.196984e+09,2015-12-01 04:44:10,"<a href=""http://twitter.com/download/iphone"" r...",After 22 minutes of careful deliberation this ...,NaN,NaN,NaT,NaN,1,10,None,None,None,None,None
1970,669684865554620416,6.693544e+17,4.196984e+09,2015-11-26 01:11:28,"<a href=""http://twitter.com/download/iphone"" r...",After countless hours of research and hundreds...,NaN,NaN,NaT,NaN,11,10,None,None,None,None,None
1990,669353438988365824,6.678065e+17,4.196984e+09,2015-11-25 03:14:30,"<a href=""http://twitter.com/download/iphone"" r...",This is Tessa. She is also very pleased after ...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/669353438...,10,10,Tessa,None,None,None,None
2010,668967877119254528,6.689207e+17,2.143566e+07,2015-11-24 01:42:25,"<a href=""http://twitter.com/download/iphone"" r...",12/10 good shit Bubka\r\n@wane15,NaN,NaN,NaT,NaN,12,10,None,None,None,None,None
2117,667070482143944705,6.670655e+17,4.196984e+09,2015-11-18 20:02:51,"<a href=""http://twitter.com/download/iphone"" r...",After much debate this dog is being upgraded t...,NaN,NaN,NaT,NaN,10,10,None,None,None,None,None

In [30]:
# Check to see how many of the 78 in reply to actually have the original tweet attached. Drop that in reply to tweet.
#check = 0
#for index1, row1 in df_ta_clean.iterrows():
#    if row1['in_reply_to_status_id'] != 'NaN':
#        for index2, row2 in df_ta_clean.iterrows():
#            if row1['in_reply_to_status_id'] == row2['tweet_id']:
#                df_ta_clean.drop(df_ta_clean.index[index2], inplace=True)
#                check += 1
#print(check)

In [27]:
df_ta_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2175 entries, 0 to 2174
Data columns (total 17 columns):
tweet_id                      2175 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2175 non-null datetime64[ns]
source                        2175 non-null object
text                          2175 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null datetime64[ns]
expanded_urls                 2117 non-null object
rating_numerator              2175 non-null int64
rating_denominator            2175 non-null int64
name                          2175 non-null object
doggo                         2175 non-null object
floofer                       2175 non-null object
pupper                        2175 non-null object
puppo                         2175 non-null object
dtypes: datetime64[ns](2), float64(4), int64(3), object(8)
memory usage: 288.9+ KB

3. Remove the tweets from the df_error file

In [28]:
for index, row in df_error.iterrows():
    check = row['tweet_id']
    df_ta_clean = df_ta_clean[df_ta_clean != check]

In [29]:
df_ta_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2175 entries, 0 to 2174
Data columns (total 17 columns):
tweet_id                      2173 non-null float64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2175 non-null datetime64[ns]
source                        2175 non-null object
text                          2175 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null datetime64[ns]
expanded_urls                 2117 non-null object
rating_numerator              2175 non-null int64
rating_denominator            2175 non-null int64
name                          2175 non-null object
doggo                         2175 non-null object
floofer                       2175 non-null object
pupper                        2175 non-null object
puppo                         2175 non-null object
dtypes: datetime64[ns](2), float64(5), int64(2), object(8)
memory usage: 288.9+ KB

Looks like the errors where cleaned up during a previous step, my before and after counts are the same.

4. Remove the non-sense info from the source column to make more sense.

In [30]:
# Determine what type of sources the tweets were coming from
df_ta_clean['source'].unique()

array([ '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
       '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
       '<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>',
       '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>'], dtype=object)

In [31]:
# Create a loop to replace the source file with the info between the tags
for index, row in df_ta_clean.iterrows():
    df_ta_clean['source'][index] = re.findall(r'>(.*)<', row['source'])[0]

C:\Users\ryanj\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [32]:
# Check to see what values are in the source column after our loop
df_ta_clean['source'].unique()

array(['Twitter for iPhone', 'Twitter Web Client', 'Vine - Make a Scene',
       'TweetDeck'], dtype=object)

5. Dog type case and spacing on df_pred table all start lower case.

In [43]:
# Make the Dog Name Capitalized by using the title function
df_pred_clean['p1'] = df_pred_clean.p1.str.title()
df_pred_clean['p2'] = df_pred_clean.p2.str.title()
df_pred_clean['p3'] = df_pred_clean.p3.str.title()

In [44]:
# Remove the _ and replace with a space using the replace function
df_pred_clean['p1'].replace(regex=True,inplace=True,to_replace="_",value=r' ')
df_pred_clean['p2'].replace(regex=True,inplace=True,to_replace="_",value=r' ')
df_pred_clean['p3'].replace(regex=True,inplace=True,to_replace="_",value=r' ')

In [49]:
# If the predictor couldn't classify any as a dog then drop that row and only  return rows that have some prediction of a dog
df_pred_clean = df_pred_clean.query('p1_dog == True or p2_dog == True or p3_dog == True')

In [50]:
df_pred_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1751 entries, 0 to 2073
Data columns (total 12 columns):
tweet_id    1751 non-null int64
jpg_url     1751 non-null object
img_num     1751 non-null int64
p1          1751 non-null object
p1_conf     1751 non-null float64
p1_dog      1751 non-null bool
p2          1751 non-null object
p2_conf     1751 non-null float64
p2_dog      1751 non-null bool
p3          1751 non-null object
p3_conf     1751 non-null float64
p3_dog      1751 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 141.9+ KB

6. Clean up the missing names in the `df_ta_clean` table

In [65]:
df_ta_clean['name'].groupby(df_ta_clean.name).size()

name
Abby             2
Ace              1
Acro             1
Adele            1
Aiden            1
Aja              1
Akumi            1
Al               1
Albert           2
Albus            2
Aldrick          1
Alejandro        1
Alexander        1
Alexanderson     1
Alf              1
Alfie            4
Alfy             1
Alice            2
Amber            1
Ambrose          1
Amy              1
Amélie           1
Anakin           1
Andru            1
Andy             1
Angel            1
Anna             1
Anthony          1
Antony           1
Apollo           1
                ..
Ziva             1
Zoe              1
Zoey             3
Zooey            1
Zuzu             1
a               55
actually         2
all              1
an               6
by               1
getting          2
his              1
incredibly       1
infuriating      1
just             3
life             1
light            1
mad              1
my               1
not              2
officially       1
old              1
one              4
quite            3
space            1
such             1
the              8
this             1
unacceptable     1
very             4
Name: name, Length: 956, dtype: int64

We can see that we have a lot of bad names (55 with a name of 'a') we can remove these bad names and just make them null values.

In [66]:
df_ta_clean['name'] = df_ta_clean['name'].replace(to_replace = r'^([a-z])', value = np.nan, regex = True)

In [67]:
df_ta_clean['name'].groupby(df_ta_clean.name).size()

name
Abby            2
Ace             1
Acro            1
Adele           1
Aiden           1
Aja             1
Akumi           1
Al              1
Albert          2
Albus           2
Aldrick         1
Alejandro       1
Alexander       1
Alexanderson    1
Alf             1
Alfie           4
Alfy            1
Alice           2
Amber           1
Ambrose         1
Amy             1
Amélie          1
Anakin          1
Andru           1
Andy            1
Angel           1
Anna            1
Anthony         1
Antony          1
Apollo          1
               ..
Walker          1
Wallace         3
Wally           2
Walter          3
Watson          2
Wesley          1
Wiggles         1
Willem          1
William         1
Willie          1
Willow          1
Willy           1
Wilson          3
Winifred        1
Winnie          4
Winston         8
Wishes          1
Wyatt           3
Yoda            1
Yogi            2
Yukon           1
Zara            1
Zeek            1
Zeke            3
Zeus            1
Ziva            1
Zoe             1
Zoey            3
Zooey           1
Zuzu            1
Name: name, Length: 931, dtype: int64

In [68]:
df_ta_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2175 entries, 0 to 2174
Data columns (total 17 columns):
tweet_id                      2173 non-null float64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2175 non-null datetime64[ns]
source                        2175 non-null object
text                          2175 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null datetime64[ns]
expanded_urls                 2117 non-null object
rating_numerator              2175 non-null int64
rating_denominator            2175 non-null int64
name                          2071 non-null object
doggo                         2175 non-null object
floofer                       2175 non-null object
pupper                        2175 non-null object
puppo                         2175 non-null object
dtypes: datetime64[ns](2), float64(5), int64(2), object(8)
memory usage: 288.9+ KB

104 records have a null value now for name.

#### Tidy Issues
1. doggo, floofer, pupper, puppo should be all one column

In [74]:
df_ta_clean2 = pd.melt(df_ta_clean, ['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp', 'source',
                                    'text', 'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp',
                                    'expanded_urls', 'rating_numerator', 'rating_denominator', 'name'], var_name='stage')

In [80]:
df_ta_clean = df_ta_clean2.copy()

In [84]:
df_ta_clean.drop(['value'], axis=1, inplace=True)

In [85]:
df_ta_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8700 entries, 0 to 8699
Data columns (total 14 columns):
tweet_id                      8692 non-null float64
in_reply_to_status_id         312 non-null float64
in_reply_to_user_id           312 non-null float64
timestamp                     8700 non-null datetime64[ns]
source                        8700 non-null object
text                          8700 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null datetime64[ns]
expanded_urls                 8468 non-null object
rating_numerator              8700 non-null int64
rating_denominator            8700 non-null int64
name                          8284 non-null object
stage                         8700 non-null object
dtypes: datetime64[ns](2), float64(5), int64(2), object(5)
memory usage: 951.6+ KB

The melt function created a lot of duplicated data that we now need to clean up. We'll use the a method to sort our values and then drop the duplicated rows based on the tweet_id

In [86]:
df_ta_clean = df_ta_clean.sort_values('stage').drop_duplicates('tweet_id', keep = 'last')

In [87]:
# now back to our orginal 2174 rows
df_ta_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2174 entries, 7971 to 8699
Data columns (total 14 columns):
tweet_id                      2173 non-null float64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2174 non-null datetime64[ns]
source                        2174 non-null object
text                          2174 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null datetime64[ns]
expanded_urls                 2116 non-null object
rating_numerator              2174 non-null int64
rating_denominator            2174 non-null int64
name                          2070 non-null object
stage                         2174 non-null object
dtypes: datetime64[ns](2), float64(5), int64(2), object(5)
memory usage: 254.8+ KB

2. With the addition of the extra tables `df_pred_clean` and `df_tweet_likes_clean` we need to have one comprehensive table that as a master table to tie everything together. We will use a merge function to accomplish this.

In [88]:
# Merge function to bring all the tables together.
df_master = pd.merge(df_ta_clean, df_tweet_likes_clean, left_on='tweet_id', right_on='tweet_id', how='left')
df_master = pd.merge(df_master, df_pred_clean, left_on='tweet_id', right_on='tweet_id', how='left')
df_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2174 entries, 0 to 2173
Data columns (total 27 columns):
tweet_id                      2173 non-null object
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2174 non-null datetime64[ns]
source                        2174 non-null object
text                          2174 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null datetime64[ns]
expanded_urls                 2116 non-null object
rating_numerator              2174 non-null int64
rating_denominator            2174 non-null int64
name                          2070 non-null object
stage                         2174 non-null object
favorite_count                1418 non-null float64
retweet_count                 1418 non-null float64
jpg_url                       1098 non-null object
img_num                       1098 non-null float64
p1                            1098 non-null object
p1_conf                       1098 non-null float64
p1_dog                        1098 non-null object
p2                            1098 non-null object
p2_conf                       1098 non-null float64
p2_dog                        1098 non-null object
p3                            1098 non-null object
p3_conf                       1098 non-null float64
p3_dog                        1098 non-null object
dtypes: datetime64[ns](2), float64(10), int64(2), object(13)
memory usage: 475.6+ KB

In [89]:
# Save this master file to csv for later use.
df_master.to_csv('master_data.csv')

## Visualization and Analyzation

Now we want to take the master dataframe we've created and see if we can't get any meaningful information out of it. We will do this by using matplotlib and graphing a few things.

In [90]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline